@charset "UTF-8";

body {font-family: 'Montserrat'}


h1 {color: #3b3b3b; font-size: 3.5rem;}


li {
  padding-left: 7%;
  padding-right: 7%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
color: #000000;
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 94%, rgba(110,85,77,1) 94%);
}

.header {margin: 0%; padding: 0%;}

.grey-font {color: #3b3b3b;}


.marcpic { background-image: url("../images/marc-cam.jpg"); 
	background-size: cover; 
	background-position: center center;
}

.mountains-pic { background-image: url("../images/mountains.jpg"); 
	background-size: cover; 
	background-position: center center;
}

.design-pic { background-image: url("../images/cael-raster.jpg"); 
	background-size: cover; 
	background-position: center center;
}

.lightning { background-image: url("../images/lightning.png"); 
	background-size: 30px; 
	background-position: left;
}


.icons {font-size: 3.5rem;
	padding-top: 18%; padding-bottom: 18%; padding-left: 8%; padding-right: 14%;
	color: #3b3b3b;
}

.name {
	font-family: 'montserratbold'; color: #3b3b3b;
}

.navigation {margin: 0%;}

.headline {
	text-align: center;
	font-size: 2.5rem;
	margin-top: 20%;
	margin-bottom: 4%;
	font-family: 'Montserrat'
}

.headline-left {
	text-align: left;
	font-size: 2.5rem;
	margin-top: 20%;
	margin-bottom: 4%;
}

.headline-less-margin {
	text-align: left;
	font-size: 2.5rem;
	margin-top: 7%;
	margin-bottom: 3%;
}

.headline-white {
	text-align: center;
	font-size: 2.5rem;
	margin-top: 20%;
	margin-bottom: 4%;
	color: white;
}

.text {
	font-size: 1.4rem;
	margin-bottom: 20%;
	text-align: center;
}

.text-left {
	font-size: 1.4rem;
	margin-bottom: 20%;
	text-align: left;
}

.text-less-margin {
	font-size: 1.4rem;
	margin-bottom: 5%;
	text-align: left;
}

.text-white {
	font-size: 1.4rem;
	margin-bottom: 20%;
	text-align: center;
	color: white;
}


.footer-text {
	font-size: 1.4rem;
	text-align: center;
	padding: 4%;
	line-height: inherit;
}

.button {
	background-color: #A7A7A7
}

.btn:hover {
	background-color: grey; ;
}

.btn {
	font-family: montserrat;
	color: #FFFFFF;
    font-size: 1.2rem;
	margin-top: 4rem;
	background-color: #757575;
	align-content: center;
}

.img {
	width: 1000px;
}



